.App {
}

.App-dartboard {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.App-game {
  width: 100%;
  flex: 1 0 auto;
}

.App-header {
  background-color: #222;
  height: 50px;
  width: 100%;
  padding: 20px;
  color: white;
  flex: 0 0 auto;
  margin: 0;
  text-align: center;
}
